article h1 {
	margin: 1em 0em 0.5em;
	color: #003670;
}

#reminder {
	margin-bottom: 2em;
	border: 1px solid gray;
	border-radius: 0.5em;
	color: gray;
	padding: 0.5em;
}

.tips {
	padding: 0.5em 1em 0em;
	text-decoration: none;
	transition: 0.2s;
	display: block;
	color: gray;
	border-bottom: 1px dashed darkgray;
}

.tips:hover {
	color: #003670;
	transition: 0.2s;
	padding: 1em 1em 0.5em;
	border-bottom: 1px dashed #003670;
}

.name {
	font-weight: 700;
}

.from {
	font-size: 0.75em;
}

.text {
	padding-left: 4em;
}

.inf {
	font-size: 0.75em;
}

#how {
	margin: 1em;
	text-align: center;
	font-weight: 700;
}